# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/

# Virtual env
venv/
env/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Migrations cache
*.log

# Static build
staticfiles/